/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

html, body {
	height: 100%;
}

body {
	background-color: #FCFCFC;
	font-family:Arial, sans-serif;
	color: #585858;
}

a {
	color: #688dad;
	text-decoration: none;
}

a:hover {
	color: #ab4d63;
}

#main{
  width: 100%;
	margin-top: 0;
	overflow: hidden;
}
#container {
	width: 100%;
}

.content {
  position: relative;
	width: 70%;
	float: right;
	padding: 40px 0 20px 0;
}
.content h1 {
  color: #1f1f2e;
  font-size: 4vh;
}

.content select {
	margin-left: 2%;
}


.content input[type="file"] {
	margin-left: 2%;
}

.content ul, .content li {
	list-style-type: none;
}

.search {
	width: 90%;
	font-size: 4vh;
	padding: 3% 3% 3%;
	border: 1px solid #ddd;
	margin-right: 5%;
}

#myUl {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUl li {
	border: 1px solid #ddd;
	background-color: #f6f6f6;
	width: 90%;
	padding: 3%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-decoration: none;
	font-size: 3vh;
	color: #1f1f2e;
	display: inline-block;
}

#form_id input[type="text"],
#form_id input[type="number"],
#form_id select,
#form_id button[type="submit"],
#form_id button[type="button"]{
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#form_id {
	background: #F9F9F9;
	padding: 2% 5%;
	margin: 5% 5% ;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h4 {
	margin: 5px 0 15px;
	display: inline;
	font-size: 2vh;
	font-weight: bold;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#form_id select {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#form_id input[type="text"],
#form_id input[type="number"],
#form_id textarea {
	width: 95%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#form_id input[type="text"]:hover,
#form_id input[type="number"]:hover,
#form_id select:hover,
#form_id textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#form_id textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}
/*#relative_div {*/
	/*position: relative;*/
/*}*/

#myUl button {
	cursor: pointer;
	border: none;
	background: #1f1f2e;
	color: #FFF;
	width: 10%;
	margin: 0 3% 5px;
	padding: 5px;
	float: right;
	font-size: 100%;
}

#remove button[type="button"] {
	cursor: pointer;
	width: 10%;
	border: none;
	background: #1f1f2e;
	color: #FFF;
	margin: 0 3% 5px;
	padding: 10px;
	font-size: 15px;
}

#sort {
	cursor: pointer;
	width: 96%;
	border: none;
	background: #1f1f2e;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#form_id button[type="submit"],
#add_star button[type="button"],
#but_div button[type="button"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #1f1f2e;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#form_id button[type="submit"]:hover,
#add_star button[type="button"]:hover,
#but_div button[type="button"]:hover,
#myUl button:hover,
#sort:hover,
.btn:hover{
	background: #353542;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#form_id button[type="submit"]:active,
#add_star button[type="button"]:active,
#but_div button[type="button"]:active,
#myUl button:active,
#sort:active,
.btn:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form_id input:focus,
#form_id textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

#sidebar {
	min-height: 100%;
  height: 100%;
  width: 20%;
	background-image: url(imgs/sidebar_background.png);
  background-repeat: repeat;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.50);
	border-right: 1px solid rgba(0, 0, 0, 0.50);
	float: left;
	position: fixed;
	margin-top: -1px;
	z-index: 100;
}
#logo {
	text-align: left;
	padding: 40px 32px 0 32px;
}

#logo a {
	border: none;
}

#logo img {
  height: auto;
  width: 100%;
	display: inline;
}

#sidebar ul.share {
	line-height: 1;
	text-align: left;
}

#sidebar ul.share li {
	background: none;
	padding: 0;
	display: inline-block;
	padding-right: 5%;
}
/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/
#menu {
	float: left;
	text-align: left;
	font-family: 'Zilla Slab', sans-serif;
	font-size: 4vh;
	margin-top: 5%;
	margin-bottom: 30%;
	position: relative;
	z-index: 100;
	padding: 0 0 0 20%;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu-v ul{
	margin-left: 10%;
	padding: 0;
	list-style-type: none;
	width: 100%;
	background: transparent;
}

.menu-v ul li{
	position: relative;
	background: transparent;
}

.menu-v ul li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 50% 30% 0 0;
	background: transparent;
	border: none;
}

.menu-v ul li a:hover {
	color: transparent;
}

* html .menu-v ul li { float: left; height: 1%; }
* html .menu-v ul li a { height: 1%; }
/*-----------------------------------------------------------------------------------*/
/*	MODAL
/*-----------------------------------------------------------------------------------*/
body .modal {
	position: fixed;
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	outline: none;
	padding: 20px;
	display: block;
}

.modal-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: gray;
	opacity: 0.3;
	z-index: 10;
}

.confirm-modal-content {
	position: fixed;
	left: 60%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background: white;
	z-index: 11;
	padding: 20px;
	box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
}

.confirm-modal-content ul {
	margin-top: 5%;
}

.li_1 {
	color: #1f1f2e;
	margin-bottom: 2%;
	text-align: center;
}

.li_2 {
	color: #1f1f2e;
	margin-bottom: 4%;
	margin-left: 21%;
}

.li_2 ul {
	margin-top: 2%;
}

.btn {
	cursor: pointer;
	width: 95%;
	border: none;
	background: #1f1f2e;
	color: #FFF;
	margin-left: 3%;
	padding: 10px;
	font-size: 15px;
}
